* {
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 0 auto;
  width: 1000px;
}

.topnav,
h1,
h2,
p,
.email {
  text-align:left;
  padding-top: 50px;
  padding-left: 250px;
  padding-right: 250px;
}

.artcontainer {
  align: center;
  padding-left: 500px;
  padding-right: 500px;
}

/* .topnav  a {
  color: #f2f2f2;
  text-align: center;
  padding-top: 50px;
  padding-right: 16px;
  text-decoration: none;
  font-size: 17px;
} */

/* Add a black background color to the top navigation */
.topnav {
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: white;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.porchhands {
  width: 1120px; /* you have to have a size or this method doesn't work */
  height: 630px; /* think about making these max-width instead - might give you some more responsiveness */

  position: absolute; /* positions out of the flow, but according to the nearest parent */
  top: 0; right: 0; /* confuse it i guess */
  bottom: 0; left: 0;
  margin: auto; /* make em equal */
}

/* .row {
  padding: 5px 5px;
} */

/* The Image container */
.img-hover-zoom {
  /* height: 10px; /* Modify this according to your need */ */
  width: 10px;
  overflow: hidden; /* Removing this will break the effects */
  border: 100px;
}

/* Quick-zoom Container */
.img-hover-zoom--basic img {
  transition: transform 0.25s ease;
}

/* The Transformation */
.img-hover-zoom--basic:hover img {
  transform: scale(1.05);
}
